@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;0,900;1,400&display=swap');

/*
Variables
*/
$raleway: "Raleway", sans-serif;
$sans: "Open Sans", sans-serif;

/*
RESET
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  padding: 20px;
}

header{
  height: 95vh;
  background-image:linear-gradient(to right bottom,(#636534c4),(#cf8b5d5d) ) ,
  url(../assets/img/header.webp);
  background-size: cover;
  //background-position: top;
  //clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  .heading-primary{
    font-family: $raleway;
    text-transform: uppercase;
    color: #32312F;
    letter-spacing: 15px;
    font-weight: 700;
  }
  .heading-secondary{
    color:#D3D3DD; //#6C6B6B;
    letter-spacing: 5px;
  }
}