.card {
	perspective: 150rem;
	-moz-perspective: 150rem;
	background-color: rgba($cyan, 0);
	height: 60rem;
	position: relative;

	ul {
		list-style-type: none;
	}

	&__side {
		height: 60rem;
		font-size: 1.25rem;
		padding: 1.5rem;
		text-align: center;
		border-radius: 3px;
		box-shadow: 0 .1rem .25rem rgba($white, .8);
		transition: transform .8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		backface-visibility: hidden;

		&--img {
			position: absolute;
			bottom: 40%;
			transform: translate(-2%);
		}

		&--front {
			.tools {
				position: absolute;
				bottom: 5%;
				left: 50%;
				transform: translate(-50%, -5%);

				ul {
					li {
						margin: 0 auto;
						padding: 0 2rem
					}
				}

			}

			.cto {
				@include tap;
			}

		}

		&--details {
			background-image: linear-gradient(to right bottom, rgba($white, 0.5), rgba($cyan, 0.5), ($bg-main));
			transform: rotateY(180deg);
			line-height: 2.5rem;
			font-size: 1.5rem;

			ul {

				width: 90%;
				margin: 0 auto;

				li {
					padding: 1rem;
					color: $bg-main;

					&:not(:last-child) {
						border-bottom: 1px dotted rgba($bg-sub, .8);
					}
				}
			}
		}

	}

	&__details {

		&--heading {
			color: $bg-main;
			font-size: 3rem;
			display: none;
		}

		&--paragraph {
			padding: 1rem;
			color: $bg-main;
			line-height: 2.5rem;
			font-size: 1.5rem;
			border-bottom: 1px dotted rgba($bg-sub, .8);
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--details {
		transform: rotateY(0);
	}
}