*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  font-family: $sans;
  //padding: 0 1rem;
  font-weight: 400;
  line-height: 1.7;
  color: $white;
  //padding: 20px;
}
