@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: white;
}

.u-header-style {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(#65e2d9), to(white));
  background: linear-gradient(to right, white, #65e2d9, white);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.box {
  background-color: rgba(101, 226, 217, 0);
  font-size: 1.25rem;
  padding: 1rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 0.1rem 0.25rem rgba(255, 255, 255, 0.8);
          box-shadow: 0 0.1rem 0.25rem rgba(255, 255, 255, 0.8);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.box i {
  display: inline-block;
  font-size: 4rem;
  color: #65e2d9;
  margin-bottom: 1.5rem;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  background-color: rgba(101, 226, 217, 0);
  height: 60rem;
  position: relative;
}

.card ul {
  list-style-type: none;
}

.card__side {
  height: 60rem;
  font-size: 1.25rem;
  padding: 1.5rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 0.1rem 0.25rem rgba(255, 255, 255, 0.8);
          box-shadow: 0 0.1rem 0.25rem rgba(255, 255, 255, 0.8);
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__side--img {
  position: absolute;
  bottom: 30%;
  -webkit-transform: translate(-2%);
          transform: translate(-2%);
}

.card__side--front .tools {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
}

.card__side--front .tools ul li {
  margin: 0 auto;
  padding: 0 2rem;
}

.card__side--details {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.5)), color-stop(rgba(101, 226, 217, 0.5)), to(#181f2a));
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(101, 226, 217, 0.5), #181f2a);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  line-height: 2.5rem;
  font-size: 1.5rem;
}

.card__side--details ul {
  width: 90%;
  margin: 0 auto;
}

.card__side--details ul li {
  padding: 1rem;
  color: #181f2a;
}

.card__side--details ul li:not(:last-child) {
  border-bottom: 1px dotted rgba(28, 36, 49, 0.8);
}

.card__details--heading {
  color: #181f2a;
  font-size: 3rem;
  display: none;
}

.card__details--paragraph {
  padding: 1rem;
  color: #181f2a;
  line-height: 2.5rem;
  font-size: 1.5rem;
  border-bottom: 1px dotted rgba(28, 36, 49, 0.8);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card:hover .card__side--details {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  border-radius: 1rem;
  -webkit-transition: all .4s;
  transition: all .4s;
  margin: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 0.1rem 0.25rem rgba(255, 255, 255, 0.8);
          box-shadow: 0 0.1rem 0.25rem rgba(255, 255, 255, 0.8);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.1rem 0.25rem rgba(255, 255, 255, 0.8);
          box-shadow: 0 0.1rem 0.25rem rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.btn-color {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(24, 31, 42, 0.5)), to(rgba(32, 42, 60, 0.5)));
  background-image: linear-gradient(to right, rgba(24, 31, 42, 0.5), rgba(32, 42, 60, 0.5));
  color: white;
}

.button {
  position: absolute;
  bottom: 10%;
  -webkit-transform: translate(-1%, 0);
          transform: translate(-1%, 0);
}

footer {
  background-color: #181f2a;
  height: 8vh;
}

footer p {
  text-align: center;
  padding: 2rem;
}

@media only screen and (min-width: 768px) {
  header {
    height: 100vh !important;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#181f2a), to(#202a3c));
    background-image: linear-gradient(to top, #181f2a, #202a3c);
  }
  header .heading {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-10%, -80%) !important;
            transform: translate(-10%, -80%) !important;
  }
  header .heading__primary {
    letter-spacing: .75rem !important;
    font-weight: 700 !important;
    font-size: 4.5rem !important;
  }
  header .heading__secondary {
    color: #D3D3DD !important;
    letter-spacing: .5rem !important;
  }
  .section__about {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#202a3c), to(#181f2a));
    background-image: linear-gradient(to top, #202a3c, #181f2a);
    padding: 7rem 7rem;
  }
  .section__about h2 {
    text-align: center;
    font-size: 4rem !important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    letter-spacing: .5rem;
    font-weight: 100;
    margin-bottom: 10rem;
  }
  .section__about-skills {
    position: relative;
    height: 30rem;
  }
  .section__about--resume {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
  .section__about--resume li {
    padding: 0 2rem;
  }
  .section__about--resume li i {
    font-size: 4rem;
    color: white;
    padding-bottom: 1.5rem;
  }
  .section__about--resume li figcaption {
    margin: 0 auto;
  }
  .section__project {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#181f2a), to(#202a3c));
    background-image: linear-gradient(to top, #181f2a, #202a3c);
    padding: 15rem 7rem;
  }
  .section__project h2 {
    text-align: center;
    font-size: 4rem !important;
    letter-spacing: .5rem;
    font-weight: 100;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 10rem;
  }
  .section__contact {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#202a3c), to(#181f2a));
    background-image: linear-gradient(to top, #202a3c, #181f2a);
    padding: 6rem 0 0 0;
  }
  .section__contact h2 {
    background-color: #181f2a;
    text-align: center;
    font-size: 4rem !important;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    letter-spacing: .5rem;
    font-weight: 100;
    margin-bottom: 5rem;
  }
  .section__contact--list {
    list-style: none;
    width: 30%;
    margin: 0 auto;
  }
  .section__contact--list li figcaption {
    font-size: 1.3rem;
    display: none;
  }
  .section__contact--list li i {
    font-size: 4rem;
    color: white;
    margin-bottom: 1.5rem;
  }
  .button {
    -webkit-transform: translate(3%, -10%) !important;
            transform: translate(3%, -10%) !important;
  }
  .box:hover {
    -webkit-transform: translateY(1.5rem) scale(1.05);
            transform: translateY(1.5rem) scale(1.05);
  }
}

header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#181f2a), to(#202a3c));
  background-image: linear-gradient(to top, #181f2a, #202a3c);
}

header .heading {
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transform: translate(8%, -80%);
          transform: translate(8%, -80%);
}

header .heading__primary {
  letter-spacing: .3rem;
  font-weight: 500;
  font-size: 2.5rem;
}

header .heading__secondary {
  color: #D3D3DD;
  font-weight: 300;
  letter-spacing: .2rem;
}

.section__about {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#202a3c), to(#181f2a));
  background-image: linear-gradient(to top, #202a3c, #181f2a);
  padding-bottom: 5rem;
}

.section__about h2 {
  text-align: center;
  font-size: 3rem;
  padding: 3rem;
  margin: 0 auto;
  letter-spacing: .5rem;
  font-weight: 100;
}

.section__about--resume {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.section__about--resume li {
  padding: 0 2rem;
}

.section__about--resume li i {
  font-size: 2rem;
  color: white;
  padding-bottom: 1.5rem;
}

.section__about--resume li figcaption {
  margin: 0 auto;
}

.section__project {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#181f2a), to(#202a3c));
  background-image: linear-gradient(to top, #181f2a, #202a3c);
  padding: 3rem 1rem;
}

.section__project h2 {
  text-align: center;
  font-size: 3rem;
  padding: 3rem;
  letter-spacing: .5rem;
  font-weight: 100;
  margin: 0 auto;
}

.section__contact {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#202a3c), to(#181f2a));
  background-image: linear-gradient(to top, #202a3c, #181f2a);
  padding: 2rem 3rem;
}

.section__contact h2 {
  background-color: #181f2a;
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0;
  letter-spacing: .5rem;
  font-weight: 100;
}

.section__contact--list {
  list-style: none;
  margin: 0 auto;
  padding-left: 0;
}

.section__contact--list li figcaption {
  font-size: 1.3rem;
  display: none;
}

.section__contact--list li i {
  font-size: 2rem;
  color: white;
  margin-bottom: 1.5rem;
}
/*# sourceMappingURL=main.css.map */