
header{
  height: 90vh;
  background-image:linear-gradient(to top,($bg-main),($bg-lit));
  // url(../assets/img/header.webp);
  // background-size: cover;
  // background-position: top;
  //clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  .heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-10%,-80%);

    &__primary{
      letter-spacing: .75rem;
      font-weight: 700;
      font-size: 4.5rem;
    }
    
    &__secondary{
      color:#D3D3DD; //#6C6B6B;
      letter-spacing: .5rem;
    }
  }
  
}