@media only screen and (min-width: 768px) {
  header {
    height: 100vh !important;
    background-image: linear-gradient(to top, ($bg-main), ($bg-lit));

    // url(../assets/img/header.webp);
    // background-size: cover;
    // background-position: top;
    //clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    .heading {
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-10%, -80%) !important;



      &__primary {
        letter-spacing: .75rem !important;
        font-weight: 700 !important;
        font-size: 4.5rem !important;
      }

      &__secondary {
        color: #D3D3DD !important; //#6C6B6B;
        letter-spacing: .5rem !important;
      }
    }

  }

  .section__about {
    //background-color: $bg-main;
    background-image: linear-gradient(to top, ($bg-lit), ($bg-main));
    padding: 7rem 7rem;

    //height: 80vh;
    h2 {
      text-align: center;
      font-size: 4rem !important;
      width: fit-content;
      margin: 0 auto;
      letter-spacing: .5rem;
      font-weight: 100;
      margin-bottom: 10rem;

    }

    &-skills {
      position: relative;
      height: 30rem;
    }

    &--resume {
      list-style: none;
      width: 80%;
      margin: 0 auto;

      li {
        padding: 0 2rem;

        i {
          font-size: 4rem;
          color: $white;
          padding-bottom: 1.5rem;
        }

        figcaption {
          margin: 0 auto;
        }
      }
    }
  }

  .section__project {
    //background-color: $bg-main;
    background-image: linear-gradient(to top, ($bg-main), ($bg-lit));
    padding: 15rem 7rem;

    //height: 100vh;
    h2 {
      text-align: center;
      font-size: 4rem !important;
      letter-spacing: .5rem;
      font-weight: 100;
      width: fit-content;
      margin: 0 auto;
      margin-bottom: 10rem;
    }
  }

  .section__contact {
    background-image: linear-gradient(to top, ($bg-lit), ($bg-main));
    //height: 35vh;
    padding: 6rem 0 0 0;

    h2 {
      background-color: $bg-main;
      text-align: center;
      font-size: 4rem !important;
      margin: 0 auto;
      width: fit-content;

      letter-spacing: .5rem;
      font-weight: 100;
      margin-bottom: 5rem;
    }

    &--list {
      list-style: none;
      width: 30%;
      margin: 0 auto;

      li {

        figcaption {
          font-size: 1.3rem;
          display: none;
        }

        i {
          font-size: 4rem;
          color: $white;
          margin-bottom: 1.5rem;
        }
      }
    }
  }

  .button {
    // position: absolute;
    // bottom: 10%;
    transform: translate(12%, -10%);
  }
}