header {
  height: 100vh;
  background-image: linear-gradient(to top, ($bg-main), ($bg-lit));

  .heading {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(8%, -80%);

    &__primary {
      letter-spacing: .3rem;
      font-weight: 500;
      font-size: 2.5rem;
    }

    &__secondary {
      color: #D3D3DD;
      font-weight: 300;
      letter-spacing: .2rem;
    }

    i {
      font-size: 3rem;
      @include blink;
    }
  }
}

.section__about {
  background-image: linear-gradient(to top, ($bg-lit), ($bg-main));
  padding-bottom: 5rem;

  h2 {
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
    margin: 0 auto;
    letter-spacing: .5rem;
    font-weight: 100;
  }

  &--resume {
    list-style: none;
    justify-content: center;
    margin: 0 auto;

    li {
      padding: 0 2rem;

      i {
        font-size: 2rem;
        color: $white;
        padding-bottom: 1.5rem;
      }

      figcaption {
        margin: 0 auto;
      }
    }
  }
}

.section__project {
  background-image: linear-gradient(to top, ($bg-main), ($bg-lit));
  padding: 3rem 1rem;

  h2 {
    text-align: center;
    font-size: 3rem;
    padding: 3rem;
    letter-spacing: .5rem;
    font-weight: 100;
    margin: 0 auto;
  }
}

.section__contact {
  background-image: linear-gradient(to top, ($bg-lit), ($bg-main));
  padding: 2rem 3rem;

  h2 {
    background-color: $bg-main;
    text-align: center;
    font-size: 3rem;
    padding: 2rem 0;
    letter-spacing: .5rem;
    font-weight: 100;
  }

  &--list {
    list-style: none;
    margin: 0 auto;
    padding-left: 0;

    li {

      figcaption {
        font-size: 1.3rem;
        display: none;
      }

      i {
        font-size: 2rem;
        color: $white;
        margin-bottom: 1.5rem;
      }
    }
  }
}