header {
  height: 60vh;
  background-image: linear-gradient(to top, ($bg-main), ($bg-lit));

  // url(../assets/img/header.webp);
  // background-size: cover;
  // background-position: top;
  //clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  .heading {
    position: absolute;
    text-align: center;
    top: 25%;
    transform: translate(8%, -80%);

    &__primary {
      letter-spacing: .3rem;
      font-weight: 500;
      font-size: 2.5rem;
    }

    &__secondary {
      color: #D3D3DD; //#6C6B6B;
      font-weight: 300;
      letter-spacing: .2rem;
    }
  }
}

.section__about {
  background-image: linear-gradient(to top, ($bg-lit), ($bg-main));
  padding-bottom: 5rem;

  h2 {

    font-size: 2rem;
    padding: 3rem;
    //width:fit-content;
    margin: 0 auto;
    letter-spacing: .5rem;
    font-weight: 100;
  }

  // &--text {
  //     h3 {
  //        text-align: center;
  //     }
  // }
  // &-skills{
  //   position: relative;
  //   height: 30rem;
  // }
  &--resume {
    list-style: none;
    justify-content: center;
    margin: 0 auto;

    li {
      padding: 0 2rem;

      i {
        font-size: 2rem;
        color: $white;
        padding-bottom: 1.5rem;
      }

      figcaption {
        margin: 0 auto;
      }
    }
  }
}

.section__project {
  //background-color: $bg-main;
  background-image: linear-gradient(to top, ($bg-main), ($bg-lit));
  padding: 3rem 1rem;

  //height: 100vh;
  h2 {
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    letter-spacing: .5rem;
    font-weight: 100;
    //width: fit-content;
    margin: 0 auto;
    //margin-bottom: 10rem;
    //border-bottom: 1px dotted $cyan;
  }
}

.section__contact {
  background-image: linear-gradient(to top, ($bg-lit), ($bg-main));
  //height: 35vh;
  padding: 2rem 3rem;

  h2 {
    background-color: $bg-main;
    text-align: center;
    font-size: 2rem;
    padding: 2rem 0;
    // margin: 0 auto;
    // width: fit-content;
    // border-bottom: 1px dotted $cyan;
    letter-spacing: .5rem;
    font-weight: 100;
    // margin-bottom: 5rem;
  }

  &--list {
    list-style: none;
    // width: 30%;
    margin: 0 auto;
    padding-left: 0;

    li {

      figcaption {
        font-size: 1.3rem;
        display: none;
      }

      i {
        font-size: 2rem;
        color: $white;
        margin-bottom: 1.5rem;
      }
    }
  }
}
